.Footer {
    display: flex;
    flex-wrap: wrap;
    background-color:#CBA135;
    border: 4px solid #2F4550;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    margin: auto;
    width: 960;
    
    

}


.Footer h3 {
    font-style: italic;
    font-weight: 250;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #2F4550;
    
}



.navList {
    display: flex;
    flex-wrap: wrap;
    width: 42%;
}

.wcci a {
    color: #2F4550;
}

.wcci a:hover {
    color: #F3EFE0;
    transition: 3ms;
}




