.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boredButtonContainer{
  display: flex;
  justify-content: center;
}

.boredButton{
  display: flex;
  color: #F3EFE0;
  background-color:#709176;
  align-items: center;
  border: 1px solid #F3EFE0;
  border-radius: 6px;
  justify-content: center;
  list-style-type: none;
  margin: 10px;
  min-width: 88px;
  height: 50px;
  padding: 10px;
}

.boredButton:hover{
  cursor: pointer;
}



.boredApiContainer{
  display: flex;
  flex-direction: column;
}

.activitiesList{
  list-style: none;
}

.boredActivity {
  list-style-type: none;
  font-size: larger;
}

.checkItOutImg {
  height: 200px;
  width: 200px;
}

#githubpic {
  height: 100px;
}

#linkedinpic {
  height: 100px;
}

.tylerphoto{
  height: 300px;
}