.boredContainer{
    display:flex;
    flex-direction: column;
}
 
.boredBodyContainer{
    display: block;
    /* flex maybe? */
}
 
.boredButtonContainer{
    display: flex;
}
 
.boredButton{
    padding: 10px;
}
 
.aboutBored{
    font-size: 24px;
}
 
.boredApiContainer{
    display: flex;
    flex-direction: column;
}
