/* Home Page */
.page {
    
    background-color:#F3EFE0;
    height: auto;
    margin: 2rem auto;
    max-width: 1000px;
    padding: 20px;
    border: 5px solid #2F4550;
    border-radius: 20px;
}

body {

    background-color:#CBA135;
}


.apiBtn {
    display: flex;
    margin: 0rem auto;
    padding: 5px;
    width: 960px;
    
}

.apiBtn a {
    display: flex ;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 10px;
    min-width: 88px;
    height: 50px;
    padding: 0px;
    text-decoration: none;
    color: #2F4550;
}

.apiBtn a:hover {
    color: #CBA135;
    transition: 3ms;
}

.dinoApi {
    display: flex ;
    justify-content: center;
    width: 25rem;
}



.NASAApi {
    display: flex;
    justify-content: center;
    width: 25rem;
}



.boredApi {
    display: flex;
    justify-content: center;
    width: 25rem;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 27px;
    width: 960px;
    
}

#dino1 {
    width: 245px;
    height: 235px;
}

#rocket1 {
    width:  245px;
    height: 235px;
    
}

#TSNT {
    width:  245px;
    height: 235px;
    
}

/* About us */

.container {
    color: #2F4550;
}


.margin {

    text-decoration: underline;
    text-align: center;
    font-style: italic;
    font-weight: 250;
    margin-bottom: 23px;
    align-items: center;
}


.photo {
    width: 375px;
}

/* Contact */

.suggestions {
    
    text-align: center;
    font-style: italic;
    font-weight: 250;
    margin-bottom: 23px;
    align-items: center;
}

.boxContain {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    
    
}


.Contactbox1 {
    display: flex;
    height: 25px;
    margin: 2px;
}

.Contactbox2 {
    display: flex;
    height: 25px;
    margin: 2px;
}

.Contactbox3 {
    display: flex;
    height: 25px;
    margin: 2px;
}

.Contactbox4 {
    display: flex;
    margin: 2px;
    height: 50px;
}

.Contactbox5 {
    display: flex;
    margin: 2px; 
}

/* dinoQuiz */

h1 {
    color: #2F4550;
}

.quiz {
    color: #2F4550;
}








